body {
  background-color: #f7f7f7;
}

.Landing {
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 80vh;
  margin: auto;
  display: inline-block;
}

.Landing__Header {
  margin-bottom: 15%;
}

.Landing__Link {
  text-align: center;
  width: 60vw;
  height: 10vh;
  margin-bottom: 5%;
  margin-left: 20%;
  background-color: black;
}

.Landing__Button {
  color: white;
  line-height: 10vh;
  text-decoration: none;
  font-weight: bold;
}
