.LetterTileContainer {
  height: 7vh;
  width: 19px;
  justify-content: center;
  text-align: center;
}

.LetterTile {
  display: flex;
  flex-direction: column;
}

.TileTop {
  height: 3vh;
  font-size: 14px;
}

.TileBottom {
  height: 3vh;
  font-size: 16px;
}

input {
  border: none;
  width: 10px;
}
